# -----------------------------------------------------------------
# APP CONFIG
# Set to 'development' or 'production'
# In 'development', PHP errors might be shown.
# In 'production', they should be logged.
# -----------------------------------------------------------------
APP_ENV=development

# -----------------------------------------------------------------
# FILE PATHS
# Use absolute paths for best results, especially for cron jobs.
# IMPORTANT: These paths must be OUTSIDE the public web root.
# -----------------------------------------------------------------
APP_LOG_DIR="../logs/app"
CAPI_LOG_DIR="../logs/capi"
ERROR_LOG_PATH="../logs/error.log"
DB_PATH="../logs/userlog.sqlite"

# -----------------------------------------------------------------
# 3RD PARTY API - OTP SERVICE
# -----------------------------------------------------------------
IDEAMART_URLS='["https://example.com/api/ideamart/"]'
MSPACE_URLS='["https://example.com/api/mspace/"]'
BDAPPS_URLS='["https://example.com/api/bdapps/"]'

# -----------------------------------------------------------------
# 3RD PARTY API - FACEBOOK/META/GOOGLE
# -----------------------------------------------------------------
PIXEL_ID=YOUR_PIXEL_ID
FBCAPI_TOKEN=YOUR_CAPI_ACCESS_TOKEN
TEST_EVENT_CODE=TEST9546

GA_MEASUREMENT_ID=YOUR_GA_MEASUREMENT_ID

# -----------------------------------------------------------------
# CONTENT
# -----------------------------------------------------------------
IMG_URL="assets/images/Girl in a salwar.jpeg"
IMG_ALT="Girl in a salwar"
CHARGE_TEXT="Dialog, Hutch, Airtel & Mobitel Daily Rs 10+tax"